
.vscode/cquery_cached_index/@c@@users@jacob@onedrive@robotics@2020 robotics@yeetith_thy_feetuth/c@@program files@pros@toolchain@usr@arm-none-eabi@include@c++@7.2.1@algorithm-DESKTOP-JGIBNAE.json
.vscode/cquery_cached_index/@c@@users@jacob@onedrive@robotics@2020 robotics@yeetith_thy_feetuth/c@@program files@pros@toolchain@usr@arm-none-eabi@include@c++@7.2.1@backward@auto_ptr.h-DESKTOP-JGIBNAE.json
.vscode/cquery_cached_index/@c@@users@jacob@onedrive@robotics@2020 robotics@yeetith_thy_feetuth/c@@program files@pros@toolchain@usr@arm-none-eabi@include@c++@7.2.1@backward@auto_ptr.h.json
*.json
